<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit {{ customer.firstName }} {{ customer.lastName }}</title>
</head>
<body>
  <form action="/{{ customer.id }}/edit/" method="POST">
    <input name="firstName" value="{{ customer.firstName }}">
    <input name="lastName" value="{{ customer.lastName }}">
    <input name="phone" value="{{ customer.phone }}">
    <textarea name="notes">{{ customer.notes }}</textarea>
    <button>Save</button>
  </form>
  
</body>
</html>